body{
	background-color: rgba(248,142,85,0.8);
	font-family: 'Open Sans',sans-serif;
}
h4{
	color: rgb(224,102,27);
	font-weight: bold;
}
h4:hover{
	color: rgba(224,102,27,0.5);
	font-weight: bold;
	text-decoration: none;
}
.navbar-brand {
  float: left;
  height: 70px;
  padding: 0px 15px;
  font-size: 18px;
  line-height: 20px;
}
.wrapper{
  background-image: url('../img/plage1.jpeg');
  height: 400px;
  background-size: cover !important;
  background-position: center;
  padding-top: 100px;
  text-align: center;
  line-height: 15px;
}

.lead h1{
  font-size: 52px;
  color: rgb(224,102,27); 
  text-shadow: 0 0 20px rgba(0,0,0,0.8);
  font-weight: lighter;
}

.lead h2{
  text-shadow: 0 0 20px rgba(0,0,0,0.8);
  padding: 0.2em;
  font-size: 32px;
  color: white;
  font-weight: lighter;
  letter-spacing: 2px;
}
.lead h3{
  text-shadow: 0 0 20px rgba(0,0,0,0.8);
  padding: 0.2em;
  font-size: 28px;
  color: rgb(20,148,20);
  font-weight: lighter;
  letter-spacing: 2px;
}
.image1{
	width: 100% !important;
	height: 300px !important;
}
.footer {
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #F4661B;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}